<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" />
  <package id="NSubstitute" version="1.4.2.0" />
  <package id="NUnit" version="2.6.1" />
  <package id="Shouldly" version="1.1.1.1" />
  <package id="UniMock.Core" version="1.2.0.6" />
  <package id="UniMock.WithNSubstitute" version="1.2.0.6" />
</packages>